<h1><%= @title %></h1>
<h3><%= @topic_author %></h3>
<p><%= @message %></p>
<h1><%= @user_name %></h1>
<form method="POST" action="/topics/<%= @topic_id %>/comments">
  <label for="subject">Subject</label>
  <input type="text" name="subject" id="subject">
  <label for="message">Comment</label>
  <textarea name="message" id="message"></textarea>
  <input type="submit" value="Post comment">
</form>
