<h1 class="topic_name"><%= @topic['title'] %></h1>
<p class="vote_num"><%= @topic['num_votes'] %></p>
<form class ="vote up" method="POST" action="/topics/<%= @topic_id %>/upvote">
  <input type="hidden" name="_method" value="PATCH">
  <input type="image" src="/img/upvote.png" alt="Upvote" width="50px" alt="Like Icon">
</form>
<form class ="vote down" method="POST" action="/topics/<%= @topic_id %>/downvote">
  <input type="hidden" name="_method" value="PATCH">
  <input type="image" src="/img/downvote.png" alt="Downvote" width="50px" alt="Dislike Icon">
</form>
<div class = "topic">
  <div class="topic_author">
    <img src=<%= @user_img %> width="100px" alt="Profile picture">
    <p><%= @topic_author %></p>
  </div><!--topic_author-->
  <div class="topic_text">
    <p class="time"><span class="profile_tag">Posted on: <%= @topic['created_at'] %></span>
    <a href="/topics/<%= @topic_id %>/edit"><%= @edit_topic%></a></p>
    <p><%= @topic['message'] %></p>
    <% @topic['tag'].gsub(",", "").gsub("#", "").split.each do |t| %>
      <a class="topic_tags" href="/topics/all/<%= t %>"><%= t %></a>
    <% end %>
    <p><span class="topic_comment topic_tag">Comments: </span><%= @num_comments %></p>
  </div><!--topic_text-->
</div><!--topic-->
<p class="leave_comment">Leave comment</p>
<p><%= @empty_message %></p>
<div class="leave_comment">
  <form method="POST" action="/topics/<%= @topic_id %>">
    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject" value ="<%= @subject %>" >
    <label for="message">Comment</label>
    <textarea name="message" id="message"></textarea>
    <input type="submit" value="Post comment" id="post_comment">
  </form>
</div><!--leave_comment-->
<% @comments.each do |comment| %>
  <div class = "all_comments">
    <div class="topic_author">
      <img src="<%= comment["author_img"] %>" width="100px" alt="Profile picture">
      <p><%= comment["comment_author"] %></p>
    </div><!--topic_author-->
    <div class = "topic_text">
      <p class="time"><span class="profile_tag">Posted on: <%= comment["created_at"] %> </span>
      <% if current_user == comment["user_id"] %>
        <a href="/topics/<%= @topic_id %>/comments/<%= comment["id"] %>/edit">Edit</a></p>
      <% end %>
      <p class="comment_subject"><%= comment["subject"] %></p>
      <p><%= comment["message"] %></p>
    </div><!--topic_text-->
  </div><!--all_comments-->
<% end %>
