<table class="topics_table">
  <tr>
    <td>Topic [
  <% if logged_in? %>
    <a href="/topics/<%= current_user %>/new">create new</a>
  <% end %> ]</td>
    <td>Votes</td>
    <td>Comments</td>
  </tr>
  <% if @topics != nil
    @topics.each do |topic| %>
    <tr class="topic_row">
      <td class="table_name"><a href="/topics/<%= topic['id'] %>"><%= topic['title'] %></a></td>
      <td><% if topic['num_votes'] == nil %>
          <%= 0 %>
        <% else %>
         <%= topic['num_votes'] %>
        <% end %> </td>
      <td><%= topic['num_comments'] %></td>
    </tr>
    <% end %>
  <% end %>
</table>

