
<h1 class="viewing_profile">Viewing profile:</h1>
<div class="profile_info">
  <img class="profile_img" src=<%= @user_img %> width="100px" alt="profile picture">
  <p><span class="profile_tag">Name:</span> <%= @user_name %> [ <a href="/users/<%= current_user %>/edit">edit profile</a> ]</p>
  <p><span class="profile_tag">Email:</span> <%= @user_email %></p>
</div><!--profile-info-->
<div class="profile_statistics">
  <h1>USER STATISTICS</h1>
  <dt><span class="profile_tag">Topics total:</span> </dt>
  <dd><%= @user_num_topics %></dd>
  <dt><span class="profile_tag">Comments total:</span> </dt>
  <dd><%= @user_num_comments %></dd>
</div><!--profile_statistics-->
<div class="user_topics">
<h1>USER'S TOPICS:</h1>
<table>
  <tr>
    <td>Topic</td>
    <td>Comments</td>
    <td>Votes</td>
  </tr>
    <% if @topics != nil
      @topics.each do |topic| %>
        <tr>
          <td><a href="/topics/<%= topic['id'] %>"><%= topic['title'] %></a></td>
          <td><%= topic['num_votes'] %></td>
          <td><%= topic['topic_num_comments'] %> </td>
        </tr>
      <% end %>
    <% end %>
</table>
<p>[ <a href="/topics/<%= current_user %>/new">create new</a> ]</p>
</div><!--user topics-->
